.App {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #021E39;
  width: 100%;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.navbar .leftside {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 35px;
}
.navbar .leftside p{
  color: #fff;
  font-size: 20px;
}
.navbar .rightside {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}
.navbar .rightside .links{
  max-height: 60px;
}
.navbar .rightside .links a{
  color: #2989e2;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  
}
.text-primary {
  color: #fcfcfc !important;
}