.row-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}
.cancel-btn {
    color: #000;
    background-color: rgb(231, 231, 231);
    height: 35px;
    width: 60px;
    border-radius: 3px;
    border: none;
}
.cancel-btn:hover {
    background-color: rgb(202, 198, 198);
}

.country-modal-heading{
    display: flex;
}
.country-modal-heading .left-side {
    flex: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.country-modal-heading .right-side{
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
.country-modal-heading .right-side > img {
    width: 20%;
    border-radius: 5%;
}
.country-modal-details .row{
    padding: 0px;
    margin: 0px;
}
.country-modal-details .left .country-data{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;  
}
.country-modal-details .middle .country-data-1{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 15px; 
    margin-right: 25px;
}
.country-data > span {
  margin-left: 20px;
}
.country-data-1 > span {
   margin-left: 20px;
}
.time-zone{
    margin-top: 30px;
    margin-left: 55px;
    margin-bottom: 30px;

}