.delete-btn-1{
    border: none;
   background-color: red;
   color: #fff;
   height: 35px;
   width: 50px;
   border-radius: 5px;
   margin-right: 5px;
}
.cancel-btn-1{
    color: #000;
    background-color: rgb(231, 231, 231);
    height: 35px;
    width: 50px;
    border-radius: 3px;
    border: none;
}

.modal-delete{
    width: 400px;
    height: fit-content;
   
}