 .filter-region{
    margin-top: 40px;
    margin-left: 40px;
}

.drop-down{
    height: 35px;
    background-color: rgb(250, 249, 249);
    width: 180px;
    border: 0.5px solid  rgb(192, 190, 190);
    border-radius: 5px;
    outline: none;
    color: #1d2129;
    font-size: 16px;
    vertical-align: middle;
    padding-left: 16px;
    color: #1d2129;
}
.country-fav-card-grid {
    margin-top: 146px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 100px;
    margin-bottom: 105px;
}
.country-card-grid {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 100px;
}
.country-card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.country-card-image {
    height: 140px;
    max-height: 140px;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.country-card-image > img {
    width: 100%;
   
}
.card-content {
    padding: 32px 15px;
    height: 150px;
    
}
.card-content > h2 {
    font-size: 16px;
    margin-top: 15px;
}
.card-list {
    margin-top: 16px;

    
}
.card-list > li {
    color: hsl(200, 15%, 8%);
    margin-top: 8px;
}
.card-list > span {
    color: hsl(0, 0%, 52%);
}
ul,ol {
    list-style: none;
}


body {
    background: hsl(0, 0%, 98%);
    font-family: sans-serif;
    font-size: 14px;
   
}
.country-container{
    margin-bottom: 100px;

}

.view-more-btn {
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
    background-color: rgb(245, 245, 245);
    padding: 5px;
    border-color: rgb(146, 119, 119);
    border-style: none;
}
.remove-btn {
    display: flex;
    justify-content: flex-start;
    border-radius: 2px;
    background-color: rgb(245, 245, 245);
    padding: 5px;
    border-color: rgb(146, 119, 119);
    border-style: none;
}
.view-more-btn:hover, .favourites-btn:hover, .remove-btn:hover{
    background-color: rgb(211, 211, 211);
}

.country-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.country-buttons .fav-btn{
    display: flex;
    flex: 50%;
    justify-content: flex-start;
}
.country-buttons .view-btn{
    display: flex;
    flex: 50%;
    justify-content: flex-end;
}

.no-items{
    margin-top: 335px;
    font-family: Arial, Helvetica, sans-serif;
    color: #566480;
}
.fav-list{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #184297;
}