.login {
    background-color: #e9ebee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    height: fit-content;
    width: 436px;
    background-color: #fff;
    text-align: center;
}
.login_container > h2 {
    font-weight: 400;
    margin-top: 24px ;
    margin-bottom: 20px;
    font-family: Helvetica, Arial,sans-serif;
}
.login_container > form > center > input {
    height: 40px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 86%;
    border: 0.5px solid  rgb(238, 234, 234);
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    color: #1d2129;
    line-height: 16px;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}
.login_container > form > center > input::-webkit-input-placeholder{
    font-size: 16px;
    color: rgba(128,128,128,0.8);
    padding-left: 0px;
}
.loginBtn{
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    font-weight: bold;
    justify-content: center;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 91%;
    color: #fff;

} 
.sideInfo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    vertical-align: middle;
    padding-left: 160px;
    margin-bottom: 30px;
}
.sideInfo > h5 {
    color: #1877f2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.sideInfo Link, .sideInfo Link h5 {
    text-decoration: none;
}
.sideInfo h5:hover{
    text-decoration: underline;
}
.loginBtn:hover{
    background-color: #0b67df;

}
.country-app-heading{
    margin-top: 200px;
    font-weight: 600;
    font-family: sans-serif;
    color: #1374cf;
    font-size: 25px;
}
