.popup-form{
    width:350px;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 10px;
    color:black;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.modal-form{
    width: 400px;
    height: fit-content;
}
.row-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}
.update-btn {
    color: #fff;
    background-color: green;
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}
.update-btn:hover {
    background-color: rgb(3, 99, 3);
}
.cancel-btn {
    color: #000;
    background-color: rgb(231, 231, 231);
    height: 35px;
    width: 60px;
    border-radius: 3px;
    border: none;
}
.cancel-btn:hover {
    background-color: rgb(202, 198, 198);
}

.row-inputs > label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: gray;
}

.row-inputs{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.row-inputs > input{
    background-color: #fff;
    border: none;
    font-size: 16px;
    color: #000;
    padding: 10px;
}