.pagination-container{
    width: 100vw;
    height: 10vh;
    color: #000;
}
.pagination > ul{
    background-color: royalblue;
    color: #000;
}
.btn-primary{
    background-color: rgb(61, 176, 243);
    height: 30px;
    width: fit-content;
    padding: 5px;
    border: none;
    border-radius: 2px;
    color: #fff;
}
.btn-container{
    justify-content: center;
    display: flex;
}