.login {
    background-color: #e9ebee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #032a4e;
    font-weight: bold;
}
.line-break {
    width: 90%;
    border: 1px solid #eaebee;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-1 {
    width: 30%;
    height: 500px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3px;
    margin-left: 110px;
    background-color: #fff;
}
  .card-2 {
    width: 50%;
    height: 500px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3px;
    margin-left: 100px;
    background-color: #fff;
}
.card-container {
   padding-top: 20px;
}
.card-1 .left-side {
    flex: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px
}
.card-1 .right-side{
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}
  .card-2 .country-heading{
    flex: 50%;
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
  }
  .card-2 .left-side {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  .card-2 .right-side{
    flex: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
  }
  .country-details .left .country-data{
   flex: 50%;
   padding: 20px;
   align-items: center;
   display: flex;
   justify-content: flex-start;
   margin-left: 35px;
    margin-top: 20px;
    
  }
  .country-details .middle .country-data-1{
    flex: 50%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 45px;
    margin-top: 20px;
  }
  .country-details .right .country-data-1{
    flex: 50%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 20px;
  }
.country-data > span {
 margin-left: 20px;
}
.country-data-1 > span {
  margin-left: 20px;
 }
  .card-1 .edit-btn {
     border: none;
     background-color: #fff;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(104, 104, 104);
     margin-left: 2px;
  }
  .card-1 .edit-btn:hover {
      color: rgb(37, 37, 37);
  }
  .divider {
    margin-top: 20px;
    border: 1px solid #eaebee;
    margin-bottom: 30px;
}
  p {
    color: rgb(104, 104, 104);
      font-family: Arial, Helvetica, sans-serif;
  }
  i{
      color: rgb(104, 104, 104) !important;
  }
  .profile-details{
      margin-top: 40px;
      justify-content:left;
  }
  .profile-data{
    margin-bottom: 30px; 
  }
  .profile-data > label{
      color: rgb(82, 81, 81);
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      float: left;
      margin-left: 120px;
      margin-top: 9px;
  }
  .profile-data .input-text{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin-right: 40px;
    width: 200px;
    border: none;
  }
  .profile-data .input-text-2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin-right: 12px;
    width: 200px;
    border: none; 
  }
  .profile-data .input-text-3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin-right: 30px;
    width: 200px;
    border: none;
  }
img {
      width: 5%;
      border-radius: 5%;
      margin-right: 5px;
    }
 .card-1 .left-side-1{
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
 }
 .card-1 .right-side-1{
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
 .delete-account{
   display: flex;
   justify-content: flex-end;
   margin-right: 150px;
   margin-top: 50px;   
 }
 .delete-btn{
   border: none;
   background-color: red;
   color: #fff;
   height: 35px;
   width: 110px;
   border-radius: 5px;
 }
 .delete-btn:hover{
   background-color: rgb(199, 7, 7);
 }

