.register {
    background-color: #e9ebee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    height: fit-content;
    width: 436px;
    background-color: #fff;
    text-align: center;
}
.register_container > h2 {
    font-weight: 400;
    margin-top: 24px ;
    margin-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.row{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.row input {
    height: 35px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 180px;
    border: 0.5px solid rgb(238, 234, 234);
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    color: #1d2129;
    line-height: 16px;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 20px;
}
.register_container > form > center > input {
    height: 35px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 86%;
    margin-left: 20px;
    border: 0.5px solid rgb(238, 234, 234);
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    color: #1d2129;
    line-height: 16px;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 20px;
}
.register_container > form > center > input::-webkit-input-placeholder{
    font-size: 16px;
    color: rgba(128,128,128,0.8);
    padding-left: 0px;
}
.registerBtn{
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    font-weight: bold;
    justify-content: center;
    background-color: #00A400;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 91%;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
} 
.registerBtn:hover{
    background-color: #049104;
}
.sideinfo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-left: 120px;
    vertical-align: middle;
    margin-bottom: 30px;
}
.sideinfo > h5 {
    color: #1877f2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.sideinfo Link, .sideinfo Link h5 {
    text-decoration: none;
}
.sideinfo h5:hover{
    text-decoration: underline;
}
.dropdown-demo{
    height: 40px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 91%;
    margin-left: 20px;
    border: 0.5px solid  rgb(238, 234, 234);
    border-radius: 5px;
    outline: none;
    color: #1d2129;
    line-height: 16px;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 20px;
    padding-left: 16px;
    color: #1d2129;
}
.text-danger{
    color: red;
}
.text-gray{
    color: rgba(128,128,128,0.8) !important;
}
.error-message{
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}
.country-app-heading{
    margin-top: 200px;
    font-weight: 600;
    font-family: sans-serif;
    color: #1374cf;
    font-size: 25px;
}
